@import url('https://fonts.googleapis.com/css?family=Raleway');
:root{
    font-size: 18px;
    font-family: Raleway;
}
body{
    color: rgb(18, 50, 102);
    margin: 0%
 }
 a{
     border: 1px solid rgb(18, 50, 102);    
     padding: 0.5rem 1rem;
     border-radius: 25px;
     transition: all 0.3s ease
 }
 a.active{
     background: rgba(176, 196, 222, 0.5)
 }
 a:hover{
     background: rgb(18, 50, 102); 
     color: #fff !important;
     cursor: pointer
 }
 .video{
     width: 8rem;
     height: 4rem;
     background: #000;
 }
.video i{
    color: #fff;
    margin-top: 20%; 
}
.details{
    background: whitesmoke;
    min-height: 50vh;
    word-break: break-all
}
.dark-bg{
    background: whitesmoke;
    border-radius: 25px;
    padding: 0rem 0.8rem;
}
.reduced-line-height{
    line-height: 60%;
}
.method{
    transition: all 0.1s ease;
}
.method:hover{
    font-weight: bold;
    cursor: pointer
}
.social-profile{
    display: none
}
button{
    background: none;
    border: 1px solid rgb(18, 50, 102);
    padding: 0.1rem 0.5rem 0.2rem;
    border-radius: 25px;
    font-size: 0.8rem
}
button:hover{
    background: rgb(18, 50, 102); 
     color: #fff
}